{% extends "base.html" %}
{% block title %}Record Data{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/switch_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/play_pause.css') }}">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>

                    <label class="switch">
                        <input type="checkbox" id="isMainUser" checked>
                        <span class="slider"></span>
                    </label>

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" disabled>
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <button type="button" id="BtmPlay" class="btn btn-success btn-lg btn-block">Play</button>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-3">
                            <div class="col-md-6">
                                <button type="button" id="BtmStop" class="btn btn-danger btn-lg btn-block">Stop</button>
                            </div>
                        </div>
                    </div>
              </form>
          </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/record/pageIteractions.js') }}" type="module"></script>
{% endblock %}
