{% extends "base.html" %}
{% block title %}Record Data{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/switch_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/play_pause.css') }}">

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>

                    <label class="switch">
                        <input type="checkbox" id="isMainUser" checked>
                        <span class="slider"></span>
                    </label>

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control mb-3" id="username" placeholder="Enter username" disabled>

                        <label for="activitySelect">Activity:</label>
                        <select class="form-control" id="activitySelect">
                            {% for label, value in activities_list %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6">
                            <button type="button" id="playStop" class="btn btn-success btn-lg btn-block">
                                Record
                            </button>
                        </div>
                    </div>
              </form>
            </div>
            <div class="col-md-2 position-absolute end-0" id="notificationPanel"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/record/pageIteractions.js') }}" type="module"></script>
{% endblock %}
