{% extends "base.html" %}
{% block title %}Record Data{% endblock %}
{% block content %}
  <style>
    #graphPlot {
      height: calc(100vh - 200px); /* Ajusta a altura para ocupar todo o espaço vertical disponível, excluindo a altura dos outros elementos */
    }
  </style>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <div class="col-md-2 position-absolute end-0" id="notificationPanel"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>
          <div class="form-group mt-3">
            <label for="graphType">Graph Type</label>
            <select class="form-control" id="graphType">
              <option value="heatmap">Heatmap</option>
              <option value="scatterplot">Scatterplot</option>
              <option value="statistics">Statistics</option>
              <option value="comparative">Comparative</option>
            </select>
          </div>
          <div class="form-group mt-3" id="userArea">
            <label for="user">Select User</label>
            <select class="form-control" id="user">
              {% for value in user_list %}
              <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="button" id="generateGraph" class="btn btn-primary mt-3">Generate</button>
        </form>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center" id="loading" style="display: none">
          <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div id="graphPlot" class="text-center"></div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='scripts/view/pageIteractions.js') }}" type="module"></script>
{% endblock %}
